
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
    font-family: 'Roboto Slab', serif;
}
.details {
display: flex;
flex-wrap: wrap;
width: 100%;

}

.grid {
    flex-grow: 33%;
    width: 33%;
    border: 2px solid black;
    text-align:left;
    list-style-position: inside;

}
.grid h3 {
    text-align: center;
    font-size: 2em;
}

.grid--3 {
    order: 0;
}

.grid--2 {
    order: 1;
}

.grid--1 {
    order: 2;
}

.grid--4 {
    order: 3;
}

.grid--5 {
    order: 4;
}

.grid--6 {
    order: 5;
}

.content {
    display: flex;
    flex-direction: row;

}

footer {
    display: flex;
    
}
footer ul {
    list-style-type: none;
    
}

.serviceList ul {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: auto;
    flex-direction: column;
}
.image-logo {
    text-align: center;
}